{% extends "base.html" %}

{% block title %}
Log in
{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-6">
	<h2>Please log in</h2>

	<form action="" method="post" role="form">
		{{ form.hidden_tag() }}

		<div class="form-group">
			<label for="email">{{ form.email.label }}</label>
			{{ form.email(**{'type':'email', 'class':'form-control', 'id':'email', 'placeholder':'Email address'}) }}
			{% for error in form.errors.email %}
			<p class="text-danger">{{ error }}</p>
			{% endfor %}
		</div>

		<div class="form-group">
			<label for="password">{{ form.password.label }}</label>
			{{ form.password(**{'type':'password', 'class':'form-control', 'id':'password', 'placeholder':'Password'}) }}
			{% for error in form.errors.password %}
			<p class="text-danger">{{ error }}</p>
			{% endfor %}
		</div>

		<div class="checkbox">
			<label>
				{{ form.remember(**{'type': 'checkbox'}) }} {{ form.remember.label }}
			</label>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					{{ form.submit(**{'type':'submit', 'class':'btn btn-default btn-block'}) }}
				</div>
				<div class="col-xs-12 col-md-4">
					<a style="color:white !important" href="{{ url_for('mod_auth.facebook_login') }}"><button type="button" class="btn btn-primary btn-block">Facebook Log in</button></a>
				</div>
				<div class="col-xs-12 col-md-4">
					<a style="color:white !important"  href="{{ url_for('mod_auth.google_login') }}"><button type="button" class="btn btn-danger btn-block">Google Log in</button></a>
				</div>
			</div>
		</div>

		<a href="{{ url_for('mod_auth.register') }}">Register Here</a>
	</form>
	</div>
{% endblock %}