{% extends 'base.html' %}

{% block title %}
Page not found
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>
        Error 404: This page is not found
    </h1>

<pre>
                          9$$
                          M$$$&gt;
                          '$$$$&amp;
                           $$$$$B
                           $$$$$$$.
                          :$$$$$$$$k
$$$:                      X$$$$$$$$$N..:dN
9$$$$W                    @$$$$$$$$$$$$$$$&gt;
 R$$$$$$W              'W$$$$$$$$$R```"R$$$N&gt;
  R$$$$$$$$$b.       d$$$$$$$$$$$$&gt;     . ^*$$k
   R$$$$$$$$$$$$u  x$$$$****$$$$$$&amp;    4$$N.'*$$L
    4$$$$$$$$$$$$$$$$"        '"*$$B   '$$$$K.'R$K
     '$$$$$$$$$$$$R         :@NW  `$$x  '#$$$$k `$B
      '$$$$$$$$$$~          X$$$$N  '$N    M$$E  ?$N.uebc
       '$$$$$$$$&gt;            $$$$$$    Rk    '  .W$$$$$$$$&amp;
        M$$$$$$R             '$$$$$$L   #N    x@$$$$$$$$$$$$&gt;
        '$$$$$$~                 $$$$L      d$$$$$$$$$$$$$$$E
         4$$$$$                  9$$$E     W$$$$$$$$$$$$$$$$E
         '$$$$$&gt;                  '#$"  :$$$$$$$$$$$$$$$$$$$
          9$$$$B                        $$$$$$$$$$$$$$$$$$R
          X$$$$$$u                    d$"M$$$$$$$$$$$$$$$R
          "$$$$$$$$u                d$#  '$$$$$$$$$$$$$$"
          X$$$$$$$$$$$e..     ..ud$*"     '$$$$$$$$$$$)..uoe@$$$
          X$$$$$$$$$$$$$$$$$**F"~                 '$$RF"""""~
          9$$$$$$$$$$$F``                         W$&amp;......x:.
         J$$$$$$$$$$"                            9$$$****$$$$*
        '$$**$$$$$$                             W$$
             '$$$$&amp;                    :$&gt;    d$$$$$$:
         :xd@$F"`#$$W:                ##"  d$$$$$$$$$$$$Wu.
    :d@$$$""     xW$$$$$$Wx&gt;         xuW$$$$$$$$$$$$$$$$$$$$$W&gt;
  '$$$*"     .d$$*"     ""#*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
</pre>

</div>
{% endblock %}