<!doctype html>
<html lang="en">

	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>

	<body>
		<div>
			<ul>
				<li><a href="{{ url_for('mod_main.index') }}">Index</a></li>
				<li><a href="{{ url_for('mod_auth.login') }}">{% if current_user.is_authenticated() %}[-]{% endif %} Log in</a></li>
				<li><a href="{{ url_for('mod_auth.facebook_login') }}">{% if current_user.is_authenticated() %}[-]{% endif %} Facebook Log in</a></li>
				<li><a href="{{ url_for('mod_auth.google_login') }}">{% if current_user.is_authenticated() %}[-]{% endif %} Google Log in</a></li>
				<li><a href="{{ url_for('mod_auth.logout') }}">Log out</a></li>
				<li><a href="{{ url_for('mod_auth.register') }}">{% if current_user.is_authenticated() %}[-]{% endif %} Register</a></li>
				<li><a href="{{ url_for('mod_auth.change_password') }}">{% if current_user.register_with_provider %}[-]{% endif %} Change password</a></li>
				<li><a href="{{ url_for('mod_auth.forgot') }}">{% if current_user.is_authenticated() %}[-]{% endif %} Forgot password?</a></li>
				<li><a href="{{ url_for('mod_feed.all_feeds') }}">Feeds</a></li>
				<li><a href="{{ url_for('mod_feed.manage_subscriptions') }}">Manage subscriptions</a></li>
				<li><a href="{{ url_for('mod_feed.update_feeds_db') }}">Update Feed db</a></li>

			</ul>
		</div>

		<!-- Flahed messages -->
		{% with messages = get_flashed_messages() %}
		<ul>
			{% for m in messages %}
			<li>{{ m }}</li>
			{% endfor %}
		</ul>
		{% endwith %}

		<!-- Main content -->
		{% block content %}
		{% endblock %}

	</body>

</html>