<doctype html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/splash.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pnotify.custom.min.css') }}">

    </head>

    <body>
        <div class="navbar navbar-static navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fr-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{url_for('mod_feed.feeds_from_source')}}">Toi Doc Bao</a>
                </div>

                <div class="collapse navbar-collapse" id='fr-navbar'>
                    <ul class="nav navbar-nav">
                        {% if not current_user.is_authenticated() %}
                        <li><a href="{{ url_for('mod_auth.login') }}">Log in</a></li>
                        <li><a href="{{ url_for('mod_auth.register') }}">Register</a></li>
                        <li><a href="{{ url_for('mod_auth.forgot') }}">Forgot password?</a></li>
                        {% endif %}

                        {% if current_user.is_authenticated() %}
                        <li><a href="{{ url_for('mod_feed.manage_subscriptions') }}">Manage subscriptions</a></li>
                        <li><a href="{{ url_for('mod_user.list_magazines') }}">Your Magazines</a></li>
                        <li><a href="{{ url_for('mod_user.create_magazine') }}">Create a Magazine</a></li>
                        <li><a href="{{ url_for('mod_user.list_users') }}">List of Users</a></li>
                        {% endif %}

                        <li><a href="{{ url_for('mod_mock.read') }}">Fetch Article</a></li>
                        <!-- <li><a href="{{ url_for('mod_mock.thumbnail') }}">Fetch Thumbnail</a></li> -->
                        {% if current_user.is_authenticated() %}
                        <li><a href="{{ url_for('mod_auth.logout') }}">Log out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {% if current_user.is_authenticated() %}
                        {% for source in current_user.get_subscriptions() %}
                            <li><a href="{{ url_for('mod_feed.feeds_from_source', source_id='%d' % source.id) }}">{{source.name | truncate(25)}}</a></li>
                        {% endfor %}
                        <li>{{current_user.email}}</li>
                    {% endif %}

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <div id="page-content-wrapper">
                <!-- Flashed messages -->
                <div class="container-fluid">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul>
                            {% for m in messages %}
                            <li>{{ m }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/jquery-2.0.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/holder.js') }}"></script>
        <!-- Menu Toggle Script -->
        <script type="text/javascript">
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>
        <script src="{{ url_for('static', filename='js/colibri.js') }}"></script>
        <script>
            var rgb_values = function (rgb) {
                // rgb(123,123,123)
                var r = parseInt(rgb.slice(4, 7), 10)
                var g = parseInt(rgb.slice(8, 11), 10)
                var b = parseInt(rgb.slice(12, 15), 10)
                return [r, g, b];
            };

            var brightness = function (rgb) {
                return Math.sqrt(Math.pow(rgb[0], 2) * 0.241
                                 + Math.pow(rgb[1], 2) * 0.691
                                 + Math.pow(rgb[2], 2) * 0.068);
            }

            $(document).ready(function() {
                if (typeof(img) == 'undefined')
                    return;

                var img = $('#testimg')[0];
                var montage = $('#montage');
                var gradient, c0, c1;
                pallete = Colibri.extractImageColors(img, 'css');
                console.log('pallete len: %s' % pallete.content.length)
                montage.css('color', pallete.background);

                if (pallete.content.length > 1) {
                    c0 = pallete.content[0];
                    c1 = pallete.content[1];
                    if (brightness(rgb_values(c0)) < brightness(rgb_values(c1))) {
                        c0 = pallete.content[1]
                        c1 = pallete.content[0]
                    }
                    gradient = 'linear-gradient(to bottom, ' + c0 + ' 0,' + c1 + ' 100%)';
                }
                else
                    gradient = 'linear-gradient(to bottom, ' + ' white' + ' 0,' + pallete.content[0] + ' 100%)';

                montage.css('background-image', gradient);
            });
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-55018153-1', 'auto');
            ga('send', 'pageview');

        </script>
        {% if current_user.is_authenticated() %}
        <script>
            AUTH_TOKEN = '{{current_user.generate_auth_token(expiration=3600)}}';
        </script>
        {% endif %}
        <script type="text/javascript" src="{{url_for('static', filename='js/pnotify.custom.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/fr.js') }}"></script>
    </body>
</html>