{% extends 'base.html' %}

{% block title %}
	{% if current_user.is_authenticated() %}
		Your feeds
	{% else %}
		Public feeds
	{% endif %}
{% endblock %}

{% block content %}
{% if not rss_articles %}
There are no feed to display
{% endif %}


<div class="container">
	<table class="feedentries">

		{% for article in rss_articles %}

			<!-- ID, vote and title -->
			<tr>
				<td class="feedid">{{ article.upvote }}&#8593; / {{ article.downvote }}&#8595;</td>
				<td>
					<img src="{{ article.thumbnail_url }}" alt="Thumbnail" width="100" height="60">
				</td>
				<td class="feedtitle" colspan="3">
					<a class="feedlink" href="{{ article.link }}" onclick="openweb('{{ article.link }}'); upviews({{ article.id }}); return false;" target="_blank" >{{ article.title }}</a>
					<br/>
					<i>{{ article.source.name }}</i>
				</td>
				<td><a href="{{ url_for('mod_feed.read_article', article_id = article.id) }}">Read More..</a></td>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td class="feedvote">
					<a href="{{ url_for('mod_feed.upvote', article_id = article.id) }}">Upvote</a>
					/
					<a href="{{ url_for('mod_feed.downvote', article_id = article.id) }}">Downvote</a>
					/
					<a href="{{ url_for('mod_feed.remove_vote', article_id = article.id) }}">Remove vote</a>
				</td>
				<td>Published: {{ article.time_published }}</td>
				<td>Views: <span id='articleviews{{ article.id }}'>{{ article.views }}</span></td>
			</tr>

			<!-- Subtext -->
			<tr>
				<td colspan="2"></td>
				<td colspan="3" class="feedsubtext">
					<!-- {{ article.summary | safe }} -->
				</td>
			</tr>

		{% endfor %}

	</table>
</div>

<div class="container">

</div>

<script type="text/javascript">
	var upviews = function (article_id) {
		console.log('upping views of article ' + article_id);
		$.ajax({
			async: true,
			crossDomain: 'false',
			data: { 'article_id': article_id },
			dataType: 'json',
			type: 'GET',
			url: "{{ url_for('mod_feed.upviews') }}",
			success: function (json) {
				console.log('View increased for article ' + article_id);

				if (json.hasOwnProperty('article_id') && json.hasOwnProperty('article_views')) {
					var dom_id = '#articleviews' + json.article_id;
					console.log($(dom_id));
					$(dom_id).html(json.article_views);
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log('Error: View not increased for article ' + article_id);
				console.log('Error :: ' + thrownError);
				console.log(xhr);
			}
		});
	};
</script>
{% endblock %}