{% extends 'base.html' %}

{% block title %}
Manage your subscriptions
{% endblock %}

{% block content %}
	<h1>Manage your subscriptions</h1>

	{% if not subscribed and not not_subscribed %}
	<p>There are no rss source available</p>
	{% else %}
	<!-- Subscribed -->
	<h3>Subscribed Sources</h3>
	{% if not subscribed %}
	<p>You have not subscribed to any source</p>
	{% endif %}
	<ul>
	{% for source in subscribed %}
		<li>
			<span>{{ source.name }}</span>
			<a href="{{ url_for('mod_feed.unsubscribe_feed', source_id = source.id) }}">Unsubscribe</a>
		</li>
	{% endfor %}
	</ul>


	<!-- Not Subscribed -->
	<h3>Not Subscribed Sources</h3>
	{% if not not_subscribed %}
	<p>You have subscribed to all sources</p>
	{% endif %}

	<ul>
	{% for source in not_subscribed %}
		<li>
			<span>{{ source.name }}</span>
			<a href="{{ url_for('mod_feed.subscribe_feed', source_id = source.id) }}">Subscribe</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}