{% extends 'base.html' %}

{% block title %}
News aggregator
{% endblock %}

{% block content %}
<h1>Your Feeds</h1>
{% if not rss_articles %}
You have not subscribed to any feeds yet
{% endif %}
{% for article in rss_articles %}
<p>
	<!-- Title -->
	<h3>{{ article.title }}</h3>
	<span style="display:block"><strong>Summary:</strong> {{ article.summary }}</span>
	<span style="display:block"><strong>Article's DB id:</strong> {{ article.id }}</span>
	<span style="display:block"><strong>Published at:</strong> {{ article.published }}</span>

	<!-- Links -->
	<a href="{{ article.link }}">Go to article</a>
</p>
{% endfor %}
{% endblock %}