{% extends "base.html" %}

{% block title %}
Toi Doc Bao
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <h4 class="lead">Popular</h4>
        <hr>
        {% for article in popular_articles %}
        <div class="media" style="margin-bottom:5px; line-height:20px">
            <a class="pull-left article-upview" href="{{article.link}}" data-id="{{article.id}}" target="_blank">
                {% if article.thumbnail_url %}
                <img class="media-object" width="60" height="60" src="{{article.thumbnail_url}}">
                {% else %}
                <img class="media-object" data-src="holder.js/60x60">
                {% endif %}
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{article.link}}" class="article-upview" data-id="{{article.id}}" target="_blank">
                        {{article.title}}
                    </a>
                </h4>
                <small class="sub">Vote: ({{article.upvote}} | {{article.downvote}})</small>
                <small class="sub">Views: {{article.views}}</small>
                <p>
                    {{article.summary | truncate(60)}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-3">
        <h4 class="lead">Popular Keywords</h4>
        <hr>
        <ul>
        {% for keyword in popular_keywords %}
            <li><mark>#{{keyword}}</mark></li>
        {% endfor %}
        </ul>
    </div>
</div>

</div>

<script>
    // // Get weather information
    // navigator.geolocation.getCurrentPosition(load_weather);
    // function load_weather(location) {
    //   var lat = location.coords.latitude,
    //       lon = location.coords.longitude;
    //   requestData = {
    //     lat: lat,
    //     lon: lon,
    //     units: 'metric'
    //   };

    //   $.ajax({
    //     crossDomain: true,
    //     dataType: 'json',
    //     async: true,
    //     data: requestData,
    //     type: 'GET',
    //     url: 'http://api.openweathermap.org/data/2.5/weather',
    //     success: fill_weather_data,
    //     error: function (xhr, ajaxOptions, thrownError) {
    //       console.log(requestData);
    //       console.log('Error :: ' + thrownError);
    //     }
    //   })
    // };

    // var fill_weather_data = function (json) {
    //   country = json.sys.country;
    //   weather_description = json.weather[0].main;
    //   temp = json.main.temp
    //   $('#weather-info').html('Weather of ' + country + ': ' + weather_description + ' ' + temp + '&deg;  ');
    // };
</script>
{% endblock %}

